 html {
     scroll-behavior: smooth;
 }

 * {

     margin: 0;
     padding: 0;

 }

 body {
     background-color: black;
     position: relative;
     font-family: 'Poppins', sans-serif;
     color: white;
     z-index: 1;
 }

 body::before {

     content: "";
     background: #44E081;
     background: linear-gradient(341deg, rgba(68, 224, 129, 1) 0%, rgba(6, 31, 14, 1) 50%, rgba(0, 0, 0, 1) 100%);
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
     background-position: center center;
     background-attachment: fixed;
     background-repeat: repeat;
     background-size: cover;
     color: white;
     opacity: 0.3;
 }

 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 80px;
     background-color: rgb(0, 244, 126);
 }

 nav ul {
     display: flex;
     justify-content: center;
 }

 nav ul li {
     list-style: none;
     margin: 0 23px;
 }

 nav ul li a {
     text-decoration: none;
     color: black;
 }

 nav ul li a:hover {
     color: rgb(162, 255, 224);
     font-size: 1.1rem;
 }

 .left {
     font-size: 1.5rem;
 }

 .firstsection {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 125px 0;
 }

 .firstsection>div {
     width: 30%;

 }

 .leftsection {
     font-size: 2.5rem;

 }

 .rightsection img {
     width: 80%;

 }

 .secondsection {
     width: 80vw;
     margin: auto;
     height: 80vh;
 }

 .secondsection h1 {
     font-size: 2rem;
 }


 .green {
     color: rgb(68, 224, 149);
 }

 .gray {
     color: gray;
 }

 .htext {
     color: black;

 }

 main hr {
     border: 0;
     background-color: rgb(68, 224, 149);
     height: 1px;
     margin: 40px 80px;
 }

 #element {
     color: rgb(68, 224, 149)
 }

 /*---about---*/

 #about {
     padding: 80px 80px;
 }

 .row {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .about-col-1 {
     flex-basis: 35%;
 }

 .about-col-1 img {
     width: 100%;
     border-radius: 15px;
 }

 .about-col-2 {
     flex-basis: 60%;
 }

 .subtitle {
     font-size: 60px;
     font-weight: 600;
     color: rgb(68, 224, 149);
 }

 .tab-titles {
     display: flex;
     margin: 20px 0 40px;
 }

 .tab-links {
     margin-right: 50px;
     font-size: 18px;
     font-weight: 500;
     cursor: pointer;
     position: relative;

 }

 .tab-links::after {
     content: '';
     width: 0px;
     height: 3px;
     background: rgb(68, 224, 149);
     position: absolute;
     left: 0;
     bottom: -8px;
     transition: 0.5s;
 }

 .tab-links.active-link::after {
     width: 50%;

 }

 .tab-contents ul li {
     list-style: none;
     margin: 10px 0;
 }

 .tab-contents ul li span {
     color: rgb(68, 224, 149);
     font-size: 14px;
 }

 .tab-contents {
     display: none;
 }

 .tab-contents.active-tab {
     display: block;

 }

 .proj-col-1 {
     flex-basis: 35%;
 }

 .proj-col-1 img {
     width: 100%;
     border-radius: 15px;
 }

 .proj-col-2 {
     flex-basis: 60%;
 }

 #project {
     padding: 80px 80px;
 }

 .link h2 a {
     padding: 50px 0;
     text-decoration: none;
     color: rgb(68, 224, 149);
 }

 .con-col-1 {
     flex-basis: 35%;
 }

 .con-col-1 p {
     margin-top: 30px;

 }

 .con-col-1 p i {
     color: rgb(68, 224, 149);
     margin-right: 15px;
     font-size: 25px;
 }


 .con-col-2 {
     flex-basis: 60%;
 }

 .con-col-2 form {
     width: 100%;
 }

 form input,
 form textarea {
     width: 100%;
     border: 0;
     outline: none;
     background: #262626;
     padding: 15px;
     margin: 15px 0;
     color: #fff;
     font-size: 18px;
     border-radius: 6px;
 }




 #contact {
     padding: 80px 80px;
 }



 /* Social Icons */
 .social-icons {
     margin-top: 30px;
 }

 .social-icons a {
     text-decoration: none;
     font-size: 30px;
     margin-right: 15px;
     color: #ababab;
     display: inline-block;
     transition: transform 0.5s;
 }

 .social-icons.git a {
     font-size: 60px;
 }

 .social-icons a:hover {
     color: rgb(68, 224, 149);
     transform: translateY(-5px);
     text-shadow: 0 0 10px rgb(68, 224, 149);
 }

 .social-icons p {
     color: #ababab;
     font-size: 14px;
 }

 .btn {
     display: inline-block;
     margin: 50px auto;
     width: fit-content;
     border: 1px solid rgb(68, 224, 149);
     padding: 14px 50px;
     border-radius: 6px;
     text-decoration: none;
     color: #fff;
     background: rgb(68, 224, 149);
 }

 .footer {
     padding: 32px 0;
     text-align: center;
     color: #ababab;
     font-size: 0.95rem;

 }

 .footer-container {
     margin: auto;
 }