 html{
    scroll-behavior: smooth;
 }
 
 * {
     margin: 0;
     padding: 0;

 }


 body {
     background-color: rgb(6, 29, 22);
     color: white;
     font-family: 'Poppins', sans-serif;
 }

 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 80px;
     background-color: rgb(0, 244, 126);
 }

 nav ul {
     display: flex;
     justify-content: center;
 }

 nav ul li {
     list-style: none;
     margin: 0 23px;
 }

 nav ul li a {
     text-decoration: none;
     color: black;
 }

 nav ul li a:hover {
     color: rgb(162, 255, 224);
     font-size: 1.1rem;
 }

 .left {
     font-size: 1.5rem;
 }

 .firstsection {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 125px 0;
 }

 .firstsection>div {
     width: 30%;

 }

 .leftsection {
     font-size: 2.5rem;

 }

 .rightsection img {
     width: 80%;

 }

 .secondsection {
     width: 80vw;
     margin: auto;
     height: 80vh;
 }

 .secondsection h1 {
     font-size: 2rem;
 }


 .green {
     color: rgb(68, 224, 149);
 }

 .gray {
     color: gray;
 }

 .htext {
     color: black;

 }

 main hr {
     border: 0;
     background-color: rgb(68, 224, 149);
     height: 1px;
     margin: 40px 80px;
 }

 #element {
     color: rgb(68, 224, 149)
 }

 /*---about---*/

 #about {
     padding: 80px 80px;
 }

 .row {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .about-col-1 {
     flex-basis: 35%;
 }

 .about-col-1 img {
     width: 100%;
     border-radius: 15px;
 }

 .about-col-2 {
     flex-basis: 60%;
 }

 .subtitle {
     font-size: 60px;
     font-weight: 600;
     color: rgb(68, 224, 149);
 }

 .tab-titles {
     display: flex;
     margin: 20px 0 40px;
 }

 .tab-links {
     margin-right: 50px;
     font-size: 18px;
     font-weight: 500;
     cursor: pointer;
     position: relative;

 }

 .tab-links::after {
     content: '';
     width: 0px;
     height: 3px;
     background: rgb(68, 224, 149);
     position: absolute;
     left: 0;
     bottom: -8px;
     transition: 0.5s;
 }

 .tab-links.active-link::after {
     width: 50%;

 }

 .tab-contents ul li {
     list-style: none;
     margin: 10px 0;
 }

 .tab-contents ul li span {
     color: rgb(68, 224, 149);
     font-size: 14px;
 }

 .tab-contents {
     display: none;
 }

 .tab-contents.active-tab {
     display: block;

 }

 .proj-col-1 {
     flex-basis: 35%;
 }

 .proj-col-1 img {
     width: 100%;
     border-radius: 15px;
 }

 .proj-col-2 {
     flex-basis: 60%;
 }

 #project {
     padding: 80px 80px;
 }

 .link h2 a {
     padding: 50px 0;
     text-decoration: none;
     color: rgb(68, 224, 149);
 }

 .con-col-1 {
     flex-basis: 35%;
 }

 .con-col-1 img {
     width: 100%;
     border-radius: 15px;
 }

 .con-col-2 {
     flex-basis: 60%;
 }
 .con-col-2 ul li{
    margin: 40px 0;
    font-size: 25px;
    list-style: none;
 }

 .con-col-2 ul li span{
    color: rgb(68, 224, 149);
 }

 #contact {
     padding: 80px 80px;
 }

 .con-col-2 ul li span a{
    text-decoration: none;
    color: rgb(68, 224, 149);
 }